.dice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  background-color: var(--color-dice-bg);
  border: 2px dashed var(--color-border);
  font-size: 50px;
  transition: 300ms;

  &.selected {
    background-color: pink;
  }
}
