.dice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--color-border);
  font-size: 50px;
  font-family: var(--font-main);
  transition: 1s;

  &.selected {
    background-color: pink;
  }
}
