@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

:root {
  --color-main-bg: #55423d;
  --color-button: #ffc0ad;
  --color-border: #e45858;
  --color-shadow: #abd1c6;
  --color-dice-bg: #ffc0ad;
  --color-dice-bg-accent: #9656a1;
  --color-dice-font: #271c19;
  --color-dice-alert: red;
  --border-radius-dice: 10%;
  --box-shadow-dice:
    inset 0 5px rgba(255, 255, 255, 0.45), inset 0 -5px rgba(0, 0, 0, 0.15),
    inset 5px 0 rgba(255, 255, 255, 0.2), inset -5px 0 rgba(255, 255, 255, 0.2);
  --font-main: "Bebas Neue", sans-serif;
}
