@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&display=swap");
@import "tailwindcss";

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@theme {
  --font-sans: "Bebas Neue", sans-serif;
  --font-ornate: "Londrina Shadow", sans-serif;
  --color-chocolate: #55423d;
  --color-apricot: #ffc0ad;
  --color-clay-red: #e45858;
  --color-lightmint: #abd1c6;
  --color-dark-orchid: #9656a1;
  --color-paper-white: #fff3ec;

  --color-ui-primary: var(--color-apricot);
  --color-ui-secondary: var(--color-paper-white);
  --color-ui-accent: var(--color-dark-orchid);
  --color-ui-tertiary: var(--color-amber-300);
  --color-ui-text: black;
  --color-ui-main-background: var(--color-chocolate);
  --color-ui-secondary-background: var(--color-paper-white);

  --shadow-dice:
    inset 0 5px rgba(255, 255, 255, 0.45), inset 0 -5px rgba(0, 0, 0, 0.15),
    inset 5px 0 rgba(255, 255, 255, 0.2), inset -5px 0 rgba(255, 255, 255, 0.2);

  --animate-shake: shake 0.2s step-end;
}

body {
  margin: 0;
  padding: 0;
}
