@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --color-bg: white;
  --color-button: #6246ea;
  --color-border: #e45858;
  --color-shadow: #abd1c6;

  --font-main: "Bebas Neue", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--color-bg);
  justify-content: center;
  align-items: center;

  button {
    background-color: var(--color-button);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 50px;
    box-shadow: 13px 15px 12px 1px var(--color-shadow);
    transition: 1s;

    &:hover {
      opacity: 0.8;
    }
  }
}
