* {
  font-family: var(--font-main);
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--color-main-bg);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  button {
    background-color: var(--color-button);
    box-shadow: 13px 15px 12px 1px var(--color-shadow);
    transition: 1s;

    &:hover {
      opacity: 0.8;
    }
  }

  p.alert {
    color: red;
  }
  ul {
    font-size: 1rem;
  }
}
